﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Todo</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
     

    <link href="Content/ionic.css" rel="stylesheet" /> 

    <script src="scripts/ionic.js"></script>
    <script src="scripts/ionic-angular.js"></script>

    <!-- Needed for Cordova/PhoneGap -->
    <!--<script type="text/javascript" src="cordova.js"></script>--> 

    <script src="scripts/testIonic/testTodoAppBasic.js"></script>



</head>
<body ng-app="todo" ng-controller="TodoCtrl">
    <side-menus>

        <!-- Center content -->
        <pane side-menu-content>
            <header class="bar bar-header bar-positive">
                <button class="button button-icon" ng-click="toggleProjects()">
                    <i class="icon ion-navicon"></i>
                </button>
                <h1 class="title">{{activeProject.title}}</h1>
                <!-- New Task button-->
                <button class="button button-clear" ng-click="newTask()">
                    New
                </button>
            </header>
            <content has-header="true" scroll="false">
                <list>
                    <item ng-repeat="task in activeProject.tasks">
                        {{task.title}}
                    </item>
                </list>
            </content>
        </pane>

        <!-- Left menu -->
        <side-menu side="left">
            <header class="bar bar-header bar-positive">
                <h1 class="title">Projects</h1>
                <button class="button button-icon" ng-click="newProject()">
                    <i class="ion ion-plus"></i>
                </button>
            </header>
            <content has-header="true" scroll="false">
                <list>
                    <item ng-repeat="project in projects" ng-click="selectProject(project)" ng-class="{active: activeProject == project}">
                        {{project.title}}
                    </item>
                </list>
            </content>
        </side-menu>

    </side-menus>
    <script id="new-task.html" type="text/ng-template">

        <div class="modal">

            <!-- Modal header bar -->
            <header class="bar bar-header bar-secondary">
                <h1 class="title">New Task</h1>
                <button class="button button-clear button-positive" ng-click="closeNewTask()">Cancel</button>
            </header>

            <!-- Modal content area -->
            <content has-header="true">

                <form ng-submit="createTask(task)">
                    <div class="list">
                        <label class="item item-input">
                            <input type="text" placeholder="What do you need to do?" ng-model="task.title">
                        </label>
                    </div>
                    <div class="padding">
                        <button type="submit" class="button button-block button-positive">Create Task</button>
                    </div>
                </form>

            </content>

        </div>

    </script>
</body>
</html>