﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Todo</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">


    <link href="Content/ionic.css" rel="stylesheet" />
    <script src="scripts/ionic.bundle.js"></script>

    <script src="scripts/testIonic/testTodoApp.js"></script>

    <script src="scripts/testIonic/testTodoAppService.js"></script>

</head>

<body ng-app="todo" ng-controller="TodoCtrl">

    <ion-header-bar class="bar-positive">
        <button class="button button-icon icon ion-ios7-minus-outline"
                ng-click="data.showDelete = !data.showDelete; data.showReorder = false"></button>
        <h1 class="title">TODO Tasks</h1>

        <button class="button button-icon ion-arrow-move"
                ng-click="data.showDelete = false; data.showReorder = !data.showReorder"></button>
    </ion-header-bar>

    <ion-content>

        <ion-list show-delete="data.showDelete" show-reorder="data.showReorder">
            <ion-item ng-show="!tasks.length">
                No tasks
            </ion-item>

            <ion-item ng-show="tasks.length" ng-repeat="task in tasks" item="task">
                {{task.task_name}}
                <ion-delete-button class="ion-minus-circled" ng-click="onItemDelete(task.task_id)"></ion-delete-button>
                <ion-option-button class="button-assertive" ng-click="onItemEdit(task.task_id)">Edit</ion-option-button>
                <ion-reorder-button class="ion-navicon" on-reoder="moveItem(task.task_id, fromIndex, toIndex)"></ion-reorder-button>
            </ion-item>
        </ion-list>

    </ion-content>




    <script id="new-task.html" type="text/ng-template">

        <div class="modal">

            <!-- Modal header bar -->
            <ion-header-bar class="bar-stable">
                <h1 class="title">New Task</h1>
                <button class="button button-clear button-positive" ng-click="closeNewTask()">Cancel</button>
            </ion-header-bar>

            <!-- Modal content area -->
            <ion-content>

                <form ng-submit="createTask(task)">
                    <div class="list">
                        <label class="item item-input">
                            <input type="text" placeholder="What do you need to do?" ng-model="task.title">
                        </label>
                    </div>
                    <div class="padding">
                        <button type="submit" class="button button-block button-positive">Create Task</button>
                    </div>
                </form>

            </ion-content>

        </div>

    </script>

    <ion-footer-bar class="bar-positive">
        <!-- New Task button-->
        <button class="button button-icon pull-right" ng-click="newTask()">
            <i class="icon ion-compose"></i>
        </button>
    </ion-footer-bar>

</body>

</html>