﻿<body ng-app="EmployeeApp">
    <h1>Product List - index </h1>
    <div ng-controller="EmployeeController">
        <table ng-repeat="employee in employees" border="1">

            <tr>
                <td> <span>{{employee.EmpNo}}</span></td>
                <td> <span>{{employee.EmpName}}</span></td>
                <td> <span>{{employee.Salary}}</span></td>
                <td> <span>{{employee.DeptName}}</span></td>
            </tr>

        </table>
    </div>

</body>


<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
<script>
    var app = angular.module("EmployeeApp", []);

    app.controller("EmployeeController", function ($scope, $http) {
        $http.get('http://localhost:1185/api/EmployeesApi').

          success(function (data, status, headers, config) {
              $scope.employees = data;

          }).
          error(function (data, status, headers, config) {
              alert("erro");
          });
    });
</script>
